# Evaluate the FDNY Dataset

#### 1: View and import the dataset

In [1]:
# Import the required libraries

import pandas as pd

In [3]:
# Import the Fire Department of New York City (FDNY) file

df = pd.read_csv("C:/Users/deepusuresh/Documents/Data Science/01. Python/2. Project/2. Project with solution/2. Data Manipulation with Pandas/2. NewYork city fire department/FDNY.csv")
df

,FacilityName,FacilityAddress,Borough
0,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
2,Engine 10/Ladder 10,124 Liberty Street,Manhattan
3,Engine 6,49 Beekman Street,Manhattan
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan
5,Ladder 8,14 North Moore Street,Manhattan
6,Engine 9/Ladder 6,75 Canal Street,Manhattan
7,Engine 15/Ladder 18/Battalion 4,25 Pitt Street,Manhattan
8,Engine 28/Ladder 11,222 East 2nd Street,Manhattan
9,Engine 5,340 East 14th Street,Manhattan
10,Engine 55,363 Broome Street,Manhattan
11,Ladder 20/Division 1,253 Lafayette Street,Manhattan
12,Engine 24/Ladder 5/Battalion 2,227-29 6th Avenue,Manhattan
13,Engine 33/Ladder 9,42 Great Jones Street,Manhattan
14,Ladder 3/Battalion 6,108 East 13th Street,Manhattan
15,Squad 18,132 West 10th Street,Manhattan
16,Engine 34/Ladder 21,440 West 38th Street,Manhattan
17,Engine 26,220 West 37th Street,Manhattan
18,Engine 3/Ladder 12/Battalion 7,150 West 19th Street,Manhattan
19,Engine 1/Ladder 24,142-46 West 31st Street,Manhattan
20,Engine 14,14 East 18th Street,Manhattan
21,Engine 16 / Ladder 7,234 East 29th Street,Manhattan
22,Engine 21,238 East 40th Street,Manhattan
23,Engine 54/Ladder 4/Battalion 9,782 8th Avenue,Manhattan
24,Engine 23,215 West 58th Street,Manhattan
25,Rescue 1,530 West 43rd Street,Manhattan
26,Engine 40/Ladder 35,131 Amsterdam Avenue,Manhattan
27,Ladder 25/District Office 4/Division 3,205-207 West 77th Street,Manhattan
28,Engine 74,120 West 83rd Street,Manhattan
29,Engine 65,33 West 43rd Street,Manhattan
...,...,...,...
189,Engine 302/Ladder 155,143-15 Rockaway Boulevard,Queens
190,Engine 317/Ladder 165/Battalion 54,117-11 196th Street,Queens
191,Engine 311/Ladder 158,145-50 Springfield Boulevard,Queens
192,Engine 314,142-04 Brookville Boulevard,Queens
193,Engine 331/Ladder 173,158-57 Cross Bay Boulevard,Queens
194,Engine 264/Engine 328/Ladder 134,16-15 Central Avenue,Queens
195,Engine 265/Ladder 121/Battalion 47 EMS Station 47,48-06 Rockaway Beach Boulevard,Queens
196,Engine 266/Battalion 47,92-20 Rockaway Beach Boulevard,Queens
197,Engine 268/Ladder 137,257 Beach 116th Street,Queens
198,Engine 329,402 Beach 169th Street,Queens
199,Marine 9,Saint George Ferry Terminal,Staten Island
200,Engine 155/Ladder 78,14 Brighton Avenue,Staten Island
201,Ladder 79/Battalion 22,1189 Castleton Avenue,Staten Island
202,Engine 156,412 Broadway,Staten Island
203,Engine 163/Ladder 83,875 Jewett Avenue,Staten Island
204,Engine 153/Ladder 77,74 Broad Street,Staten Island
205,Engine 165/Ladder 85,3067 Richmond Road,Staten Island
206,Engine 157/Ladder 80,1573 Castleton Avenue,Staten Island
207,Engine 158,65 Harbor Road,Staten Island
208,Engine 166/Ladder 86,1400 Richmond Avenue,Staten Island
209,Engine 154/District Office 8/ Staten Island Bo...,3730 Victory Boulevard,Staten Island
210,Engine 152/Battalion 21,256 Hylan Boulevard,Staten Island
211,Engine 161/Ladder 81,278 Mc Clean Avenue,Staten Island
212,Engine 160/Rescue 5/Division 8,1850 Clove Road,Staten Island
213,Engine 159,1592 Richmond Road,Staten Island
214,Engine 162/Ladder 82/Battalion 23,256 Nelson Avenue,Staten Island
215,Engine 167/Ladder 87,345 Annadale Road,Staten Island
216,Engine 164/Ladder 84,1560 Drumgoole Road West,Staten Island
217,Engine 168/EMS Station 23,1100 Rossville Avenue,Staten Island
218,Engine 151/Ladder 76,7219 Amboy Road,Staten Island

#### 2: Analyze the dataset

In [5]:
# View the content of the data
df.describe()

       FacilityName       FacilityAddress   Borough
count           219                   219       219
unique          219                   219         6
top      Engine 251  1901 Sedgwick Avenue  Brooklyn
freq              1                     1        66

In [6]:
# View the first five records

df.head()

,FacilityName,FacilityAddress,Borough
0,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
2,Engine 10/Ladder 10,124 Liberty Street,Manhattan
3,Engine 6,49 Beekman Street,Manhattan
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan

In [7]:
# Skip the duplicate header row (skip the first row from dataset)

df = pd.read_csv("C:/Users/deepusuresh/Documents/Data Science/01. Python/2. Project/2. Project with solution/2. Data Manipulation with Pandas/2. NewYork city fire department/FDNY.csv",skiprows=1)

In [8]:
# Verify if the dataset is fixed

df.head()

,FacilityName,FacilityAddress,Borough
0,Engine 4/Ladder 15,42 South Street,Manhattan
1,Engine 10/Ladder 10,124 Liberty Street,Manhattan
2,Engine 6,49 Beekman Street,Manhattan
3,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan
4,Ladder 8,14 North Moore Street,Manhattan

In [9]:
# View the data statistics

df.describe()

       FacilityName       FacilityAddress   Borough
count           218                   218       218
unique          218                   218         5
top      Engine 251  1901 Sedgwick Avenue  Brooklyn
freq              1                     1        66

In [10]:
# View the attributes of the dataset

df.columns

Index(['FacilityName', 'FacilityAddress', 'Borough'], dtype='object')

In [9]:
# View the index of the dataset

#### 3: Find the total number of fire department facilities in New York city

In [11]:
# view index of dataset

df.index

RangeIndex(start=0, stop=218, step=1)

In [12]:
# Count number of records for each attribute

df.count()

FacilityName       218
FacilityAddress    218
Borough            218
dtype: int64

In [13]:
# view the datatypes of all three attributes

df.dtypes

FacilityName       object
FacilityAddress    object
Borough            object
dtype: object

#### 4: Find the total number of fire department facilities in each borough

In [14]:
# Select FDNY information boroughwise

groupby_borough = df.groupby('Borough')

In [15]:
# View FDNY informationn for each borough

groupby_borough.size()

Borough
Bronx            34
Brooklyn         66
Manhattan        48
Queens           50
Staten Island    20
dtype: int64

#### 5: Find the total number of fire department facilities in Manhattan

In [16]:
# Select FDNY information for Manhattan

df_Manhattan = groupby_borough.get_group('Manhattan')

In [17]:
# View FDNY information for Manhattan

df_Manhattan

,FacilityName,FacilityAddress,Borough
0,Engine 4/Ladder 15,42 South Street,Manhattan
1,Engine 10/Ladder 10,124 Liberty Street,Manhattan
2,Engine 6,49 Beekman Street,Manhattan
3,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan
4,Ladder 8,14 North Moore Street,Manhattan
5,Engine 9/Ladder 6,75 Canal Street,Manhattan
6,Engine 15/Ladder 18/Battalion 4,25 Pitt Street,Manhattan
7,Engine 28/Ladder 11,222 East 2nd Street,Manhattan
8,Engine 5,340 East 14th Street,Manhattan
9,Engine 55,363 Broome Street,Manhattan
10,Ladder 20/Division 1,253 Lafayette Street,Manhattan
11,Engine 24/Ladder 5/Battalion 2,227-29 6th Avenue,Manhattan
12,Engine 33/Ladder 9,42 Great Jones Street,Manhattan
13,Ladder 3/Battalion 6,108 East 13th Street,Manhattan
14,Squad 18,132 West 10th Street,Manhattan
15,Engine 34/Ladder 21,440 West 38th Street,Manhattan
16,Engine 26,220 West 37th Street,Manhattan
17,Engine 3/Ladder 12/Battalion 7,150 West 19th Street,Manhattan
18,Engine 1/Ladder 24,142-46 West 31st Street,Manhattan
19,Engine 14,14 East 18th Street,Manhattan
20,Engine 16 / Ladder 7,234 East 29th Street,Manhattan
21,Engine 21,238 East 40th Street,Manhattan
22,Engine 54/Ladder 4/Battalion 9,782 8th Avenue,Manhattan
23,Engine 23,215 West 58th Street,Manhattan
24,Rescue 1,530 West 43rd Street,Manhattan
25,Engine 40/Ladder 35,131 Amsterdam Avenue,Manhattan
26,Ladder 25/District Office 4/Division 3,205-207 West 77th Street,Manhattan
27,Engine 74,120 West 83rd Street,Manhattan
28,Engine 65,33 West 43rd Street,Manhattan
29,Engine 8 / Ladder 2 / Battalion 8,167 East 51st Street,Manhattan
30,Engine 39/Ladder 16,157-59 East 67th Street,Manhattan
31,Engine 44,221 East 75th Street,Manhattan
32,Engine 22/Ladder 13/Battalion 10,159 East 85th Street,Manhattan
33,Engine 58/Ladder 26,1367 5th Avenue,Manhattan
34,Engine 53/Ladder 43,1836-46 3rd Avenue,Manhattan
35,Engine 91,242 East 111th Street,Manhattan
36,Engine 35/Ladder 14,2282 3rd Avenue,Manhattan
37,Engine 76/Ladder 22/Battalion 11,145-51 West 100th Street,Manhattan
38,Engine 47,502 West 113th Street,Manhattan
39,Engine 59/Ladder 30,111 West 133rd Street,Manhattan
40,Engine 37/Ladder 40,415 West 125th Street,Manhattan
41,Engine 69/Ladder 28/Battalion 16,248 West 143rd Street,Manhattan
42,Engine 80/Ladder 23,503 West 139th Street,Manhattan
43,Engine 84/Ladder 34,513 West 161st Street,Manhattan
44,Engine 67,518 West 170th Street,Manhattan
45,Engine 93/Ladder 45/Battalion 13,515 West 181st Street,Manhattan
46,Engine 95/Ladder 36,29 Vermilyea Avenue,Manhattan
47,Marine 1,Little West 12th Street/Hudson River,Manhattan